main.adb main.bin main.cdb main.ihx main.lst main.mem main.rel main.sym \
main.asm main.hex main.lk main.map main.omf main.rst \
led.adb  led.asm  led.lst  led.rel  led.rst  led.sym \
uart.adb  uart.asm  uart.lst  uart.rel  uart.rst  uart.sym \
time.adb  time.asm  time.lst  time.rel  time.rst  time.sym \
seg.adb  seg.asm  seg.lst  seg.rel  seg.rst  seg.sym \
lcd1602.adb  lcd1602.asm  lcd1602.lst  lcd1602.rel  lcd1602.rst  lcd1602.sym \
key.adb  key.asm  key.lst  key.rel  key.rst  key.sym \
motor.adb  motor.asm  motor.lst  motor.rel  motor.rst  motor.sym \

